<!--  footer -->
<footer>
    <div class="footer ">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           <a href="/user#myCarousel" class="logo_footer"> <img src="assets/images/logo2.png" alt="#"/></a>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                <div class="address">
                  <h3>Địa chỉ </h3>
                  <ul class="loca">
                    <li>
                      <a href="#"></a>Đâu đó ở trên đất nước vn
                      <br>Hoặc là thông qua số điện thoại  </li>
                      <li>
                        <a href="#"></a>(+84 000111000) </li>
                        <li>
                          <a href="#"></a>hideonhp@gmail.com</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="address">
                        <h3>Liên kết</h3>
                        <ul class="Menu_footer">
                          <li class="active"> <a href="#">Twitter</a> </li>
                          <li><a href="#">Facebook</a> </li>
                          <li><a href="#">Instagram</a> </li>
                          <li><a href="#">Linkdin</a> </li>
                        </ul>
                      </div>
                    </div>
                   

                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                      <div class="address">
                        <h3>Nhận tin khuyến mãi</h3>
                         <form class="news">
                         <input class="newslatter" placeholder="Nhập cái mail vào đây" type="text" name=" Enter your email">
                          <button class="submit">Đăng ký ngay !</button>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <div class="copyright">
              <div class="container">
                <p>Copyright © 2021 Design by <a href="https://google.com/">NaNi</a></p>
              </div>
            </div>
          </div>
        </footer>
        <!-- end footer -->