<app-navbar></app-navbar>
<div class="imagebg"></div>
<div class="row bg-form " style="margin-top: 50px">
    <div class="col-md-12 col-md-offset-3 form-container">
        <h2>Tìm Kiếm Nâng Cao !</h2>
        <p>Bạn Có Thể Tìm Kiếm Gần Như Bất Cứ Thứ Gì Ở Đây:</p>
        <input class="col-sm-12 form-group" type="text" name="name" placeholder="Nhập gì đó đi !" [(ngModel)]="search.keyWord" />
        <form>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name">
                        Chọn Loại Nội Dung Bạn Muốn Tìm Kiếm: </label>
                    <select id="apiString" [(ngModel)]="data.apiString">
                        <option value="1">Thức Ăn</option>
                        <option value="2">Menu Thức Ăn</option>
                        <option value="3">Loại Sảnh</option>
                        <option value="4">Loại Tiệc</option>
                        <option value="5">Loại Menu</option>
                    </select>
                </div>
            </div>
            <small>value của option chính là id của loại api, sau đó dùng api get by keywork rồi load cái bảng lên cho người dùng xem -> mai làm</small>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <button type="submit" class="btn btn-lg btn-warning btn-block" (click)="searchNow()">Tìm Kiếm </button>
                </div>
            </div>

        </form>
    </div>
</div>