<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-icon>whatshot</mat-icon>
    Pro Res :
    <a href="/admin"><button mat-raised-button color="accent"> Admin Only </button></a>

    <div class="spacer"></div>

    <a href="/user"><button mat-raised-button color="warn"> Đặt Tiệc </button></a>

    <a mat-button href="/home#vegetable"> Thức Ăn </a>
    <a mat-button href="/home#testimonial"> Đánh Giá </a>
    <a mat-button href="/home#about"> About Us </a>
    <a mat-icon-button>
        <mat-icon>
            account_circle
        </mat-icon>
    </a>
</mat-toolbar>