<app-navbar></app-navbar>
<div class="testbox">
    <form [formGroup]="form">
        <h1>Đặt Tiệc Ngay</h1>
        <h5>Xin Hãy Nhập Thông Tin Đặt Tiệc</h5>


        <div class="item">
            <p>Ngày Tổ Chức Tiệc Cưới</p>
            <input type="text" id="ngayToChuc" name="ngayToChuc" [(ngModel)]="data.ngayToChuc" placeholder="YYYY-MM-DD" formControlName="ngayToChuc" [ngClass]="{'is-invalid':form.get('ngayToChuc').touched && form.get('ngayToChuc').invalid}" />
            <div *ngIf="form.get('ngayToChuc').touched && form.get('ngayToChuc').invalid" class="invalid-feedback">
                <div *ngIf="form.get('ngayToChuc').errors.required">Ngày Tổ Chức Không Được Phép Bỏ Trống</div>
                <div *ngIf="form.get('ngayToChuc').errors.minlength">Ngày Tổ Chức Sai Định Dạng</div>
                <div *ngIf="form.get('ngayToChuc').errors.maxlength">Ngày Tổ Chức Sai Định Dạng</div>
            </div>


        </div>
        <div class="item">
            <p>Thời Gian</p>
            <input type="text" name="thoiGian" placeholder="HH:MM:SS" [(ngModel)]="data.thoiGian" formControlName="thoiGian" [ngClass]="{'is-invalid':form.get('thoiGian').touched && form.get('thoiGian').invalid}" />
            <div *ngIf="form.get('thoiGian').touched && form.get('thoiGian').invalid" class="invalid-feedback">
                <div *ngIf="form.get('thoiGian').errors.required">Thời Gian Tổ Chức Không Được Phép Bỏ Trống</div>
                <div *ngIf="form.get('thoiGian').errors.minlength">Thời Gian Tổ Chức Sai Định Dạng</div>
                <div *ngIf="form.get('thoiGian').errors.maxlength">Thời Gian Chức Sai Định Dạng</div>
            </div>
        </div>
        <div>
            <label>Loại Tiệc</label>
            <select name="loai" id="loai" ngModel [(ngModel)]="data.loai" formControlName="loai" [ngClass]="{'is-invalid':form.get('loai').touched && form.get('loai').invalid}">
                <option value="Tiệc Cưới">Tiệc Cưới</option>
                <option value="Tiệc Sinh Nhật">Tiệc Sinh Nhật</option>
                <option value="Tiệc Quẩy">Tiệc Quẩy</option>
              </select>
            <div *ngIf="form.get('loai').touched && form.get('loai').invalid" class="invalid-feedback">
                <div *ngIf="form.get('loai').errors.required">Loại Tiệc Không Được Phép Bỏ Trống</div>
            </div>
        </div>
        <div>
            <label>Loại Sảnh</label>
            <select name="sanh" id="sanh" ngModel [(ngModel)]="data.sanh" formControlName="sanh" [ngClass]="{'is-invalid':form.get('sanh').touched && form.get('sanh').invalid}">
                <option [value]="kh.id" *ngFor="let kh of sanh.data; index as i;">{{kh.tenSanh}}</option>
            </select>
            <div *ngIf="form.get('sanh').touched && form.get('sanh').invalid" class="invalid-feedback">
                <div *ngIf="form.get('sanh').errors.required">Sảnh Tổ Chức Không Được Phép Bỏ Trống</div>
            </div>
        </div>
        <div>
            <label>Loại Menu</label>
            <select name="menu" [(ngModel)]="data.menu" formControlName="menu" [ngClass]="{'is-invalid':form.get('menu').touched && form.get('menu').invalid}">
                <option value="{{khh.id}}" *ngFor="let khh of menu.data; index as i;">{{khh.tenMenu}}</option>
              </select>
            <div *ngIf="form.get('menu').touched && form.get('menu').invalid" class="invalid-feedback">
                <div *ngIf="form.get('menu').errors.required">Menu Tổ Chức Không Được Phép Bỏ Trống</div>
            </div>
        </div>

        <div class="btn-block">
            <button [disabled]="!form.valid" type="submit" (click)="datTiec()">Đặt Tiệc</button>
        </div>
    </form>
</div>