<mat-toolbar color="primary" class="mat-elevation-z6">
        <mat-icon>whatshot</mat-icon>
        Pro Res
    <div class="spacer"></div>

    <button mat-raised-button color="warn" (click) = 'onOpenDialogClick()'> Đặt Tiệc </button>
    <a mat-button> Menu </a>
    <a mat-button href="/user#vegetable"> Thức Ăn </a>
    <a mat-button href="/user#testimonial"> Đánh Giá </a>
    <a mat-button href="/user#about"> About Us </a>
    <a mat-icon-button>
            <mat-icon>
                account_circle
            </mat-icon>
    </a>
</mat-toolbar>