<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="assets/images/loading.gif" alt="#" /></div>
</div>
<!-- end loader -->
<!-- about  -->
<div id="about" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about-box">
                    <h2>Giới thiệu cái nhẹ</h2>
                    <p>Tiệc cưới là một bữa tiệc được tổ chức sau khi hoàn thành một buổi lễ cưới, nó cũng có thể tổ chức liên tục với Lễ kết hôn. Ở một số địa phương đặc biệt là khu vực nông thôn, ngoại thành, nhiều gia đình có thể lựa chọn việc tổ chức
                        các bữa tiệc tại nhà (tư gia) hoặc sử dung các địa điểm công cộng như nhà văn hoá, đình làng, cơ quan, tuỳ thuộc vào điều kiện kinh tế. </p>
                    <a href="Javascript:void(0)">Đọc thêm nào !</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_rl">
                <div class="about-box_img">
                    <figure><img src="assets/images/about.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end abouts -->
<!-- vegetable -->
<div id="vegetable" class="vegetable">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2> Thức ăn <strong class="llow">rất là tươi</strong> </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
                <div class="vegetable_shop">
                    <h3>Bét thức ăn ever</h3>
                    <p>Thực phẩm tươi sống (Fresh food) là thực phẩm chưa được bảo quản, chế biến và chưa hư hỏng. Trừ con người, vật nuôi là các loài ăn xác thối, ăn tạp, hầu hết các loài động vật sử dụng thực phẩm tươi sông. Thực phẩm tươi sống thông thường
                        là tươi ngon, hấp dẫn và giữ được dưỡng chất ban đầu
                    </p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 ">
                <div class="vegetable_img">
                    <figure><img src="assets/images/v1.jpg" alt="#" /></figure>
                    <span>01</span>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
                <div class="vegetable_img margin_top">
                    <figure><img src="assets/images/v2.jpg" alt="#" /></figure>
                    <span>02</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end vegetable -->
<!-- vegetable -->
<div id="vegetable" class="vegetable">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2> Thức ăn <strong class="llow">rất là tươi</strong> </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
                <div class="vegetable_shop">
                    <h3>Bét thức ăn ever</h3>
                    <p>Thực phẩm tươi sống (Fresh food) là thực phẩm chưa được bảo quản, chế biến và chưa hư hỏng. Trừ con người, vật nuôi là các loài ăn xác thối, ăn tạp, hầu hết các loài động vật sử dụng thực phẩm tươi sông. Thực phẩm tươi sống thông thường
                        là tươi ngon, hấp dẫn và giữ được dưỡng chất ban đầu
                    </p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 ">
                <div class="vegetable_img">
                    <figure><img src="assets/images/v1.jpg" alt="#" /></figure>
                    <span>01</span>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
                <div class="vegetable_img margin_top">
                    <figure><img src="assets/images/v2.jpg" alt="#" /></figure>
                    <span>02</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end vegetable -->
<!-- clients -->
<div id="testimonial" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Đánh giá từ người nổi tiếng </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clients_red">
    <div class="container">
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
                <li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="2" class=""></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="testomonial_section">

                        <div class="full testimonial_cont">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                                    <div class="testomonial_img">
                                        <figure><img src="assets/images/tes2.PNG" alt="#" /></figure>
                                        <i><img src="assets/images/test_con.png" alt="#"/></i>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                                    <div class="cross_inner">
                                        <h3>Kiệt<br><strong class="ornage_color">Pro Reviewer</strong></h3>
                                        <p> Đồ ăn ngon, đa dạng. Giá không quá đắt. Mọi thứ rất ổn cho đến khi mình hỏi mật khẩu wifi. Nhân viên trả lời như ngoài đường ngoài chợ. Không chuyên nghiệp.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item active">

                    <div class="testomonial_section">
                        <div class="full center">
                        </div>
                        <div class="full testimonial_cont ">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                                    <div class="testomonial_img">
                                        <figure><img src="assets/images/tes3.PNG" alt="#" /></figure>
                                        <i><img src="assets/images/test_con.png" alt="#"/></i>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                                    <div class="cross_inner">
                                        <h3>Truyền<br><strong class="ornage_color">Newbie Review</strong></h3>
                                        <p>Mặt bằng quán/nhà hàng rộng đủ để có thể yên tâm việc đảm bào vệ sinh ăn uống/thực phẩm, mội trường xung quanh sạch sẽ, thoáng đãng, phục vụ nhanh nhẹn lịch sự, chuyên nghiệp, thực đơn có cả ngoại ngữ cho khách
                                            nước ngoài dễ lựa chọn. Không có rác xung quanh chỗ ăn uống, không có người ăn xin, bán ve1 số làm phiền.

                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">

                    <div id="testomonial" class="testomonial_section">
                        <div class="full center">
                        </div>
                        <div class="full testimonial_cont ">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                                    <div class="testomonial_img">
                                        <figure><img src="assets/images/tes.PNG" alt="#" /></figure>
                                        <i><img src="assets/images/test_con.png" alt="#"/></i>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                                    <div class="cross_inner">
                                        <h3>Tim Côk<br><strong class="ornage_color">Kô Tếch hút máu</strong></h3>
                                        <p> Các món ăn ở đây không ngon cho lắm, các bạn muốn đồ ăn ngon mà rẻ thì hãy ghé tiệm Apple Store của mình nha hihihihi :D
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- end clients -->
<!--  footer -->
<footer>
    <div class="footer ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/user#myCarousel" class="logo_footer"> <img src="assets/images/logo2.png" alt="#" /></a>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                            <div class="address">
                                <h3>Địa chỉ </h3>
                                <ul class="loca">
                                    <li>
                                        <a href="#"></a>Đâu đó ở trên đất nước vn
                                        <br>Hoặc là thông qua số điện thoại </li>
                                    <li>
                                        <a href="#"></a>(+84 000111000) </li>
                                    <li>
                                        <a href="#"></a>hideonhp@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="address">
                                <h3>Liên kết</h3>
                                <ul class="Menu_footer">
                                    <li class="active"> <a href="#">Twitter</a> </li>
                                    <li><a href="#">Facebook</a> </li>
                                    <li><a href="#">Instagram</a> </li>
                                    <li><a href="#">Linkdin</a> </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-6 ">
                            <div class="address">
                                <h3>Nhận tin khuyến mãi</h3>
                                <form class="news">
                                    <input class="newslatter" placeholder="Nhập cái mail vào đây" type="text" name=" Enter your email">
                                    <button class="submit">Đăng ký ngay !</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright © 2021 Design by <a href="https://google.com/">NaNi</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->