<app-appbarss></app-appbarss>

<br>
<br>
<br>
<div class="container">
    <div class="border">
        <button class="btn btn-md btn-outline-primary" (click)="triggerModal(modalData, null, false)">
            <i class="fa fa-user "></i>
            Thêm nhân viên mới</button>
    </div>
    <br>
    <table class="table table-bordered table-striped ">
        <thead>
            <tr>
                <th>Cmnd</th>
                <th>Họ Nhân Viên</th>
                <th>Tên Nhân Viên</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let nv of nhanVien.data; index as i; ">
                <td><span>{{nv.cmnd}}</span></td>
                <td><span>{{nv.ho}}</span></td>
                <td><span>{{nv.ten}}</span></td>
                <td>
                    <button class="btn btn-sm btn-info " (click)="triggerModal(modalData, i, true)">
              <i id="ic1 " class="fa fa-search " ></i>Chi Tiết Nhân Viên</button>
                    <button class="btn btn-sm btn-warning " (click)="triggerModal(modalData, i, true)">
              <i id="ic2 " class="fa fa-edit "></i>Sửa</button>
                    <button class="btn btn-sm btn-danger " (click)="deleteEmployees(modalData, i, true)">
              <i id="ic3 " class="fa fa-remove "></i>Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="javascript:void(0);" (click)="searchPrevious()">Trang Trước</a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="searchPrevious()">{{nhanVien.page-1}}</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="javascript:void(0);">{{nhanVien.page}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="searchNext()">{{nhanVien.page+1}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:void(0);" (click)="searchNext()">Trang Sau</a>
        </li>

    </ul>
</div>
<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Angular Bootstrap Modal Popup</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div class="form-group">
                <label for="ho">Họ Nhân Viên</label>
                <div class="input-group">
                    <input id="ho" class="form-control" [(ngModel)]="nv.ho" name="ho">
                </div>
                <label for="ten">Tên Nhân Viên</label>
                <div class="input-group">
                    <input id="ten" class="form-control" [(ngModel)]="nv.ten" name="ten">
                </div>
                <label for="taiKhoan">Tài Khoản Nhân Viên</label>
                <div class="input-group">
                    <input [disabled]="isReadOnly" id="taiKhoan" class="form-control" [(ngModel)]="nv.taiKhoan" name="taiKhoan">
                </div>
                <label for="matKhau">Mật Khẩu Nhân Viên</label>
                <div class="input-group">
                    <input [disabled]="isReadOnly" id="matKhau" class="form-control" [(ngModel)]="nv.matKhau" name="matKhau">
                </div>
                <label for="ngaySinh">Ngày Sinh Nhân Viên</label>
                <div class="input-group">
                    <input id="ngaySinh" class="form-control" [(ngModel)]="nv.ngaySinh" name="ngaySinh" placeholder="YYYY-MM-DD">
                </div>
                <label for="cmnd">Chứng Minh Nhân Dân</label>
                <div class="input-group">
                    <input id="cmnd" class="form-control" [(ngModel)]="nv.cmnd" name="cmnd">
                </div>
                <label for="caLamViec">Ca Làm Việc</label>
                <div class="form-group">
                    <select name="caLamViec" id="caLamViec" class="form-control" [(ngModel)]="nv.caLamViec">
                        <option *ngFor="let caLamViec of caLamViecS" [value]="caLamViec.id">{{ caLamViec.label }}</option>
                    </select>
                </div>
                <div class="border text-center">
                    <button *ngIf="!isReadOnly" data-dismiss="modal" class="btn btn-info" (click)="createEmployees()">Thêm Nhân Viên Mới</button>
                    <button *ngIf="isReadOnly" data-dismiss="modal" class="btn btn-info" (click)="updateEmployees()">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>