<app-appbarss></app-appbarss>

<br>
<br>
<br>
<div class="container">
    <div class="border">
        <button class="btn btn-md btn-outline-primary" (click)="open(content)">
            <i class="fa fa-user "></i>
            Thêm nhân viên mới</button>
    </div>
    <br>
    <table class="table table-bordered table-striped ">
        <thead>
            <tr>
                <th>Cmnd</th>
                <th>Họ Nhân Viên</th>
                <th>Tên Nhân Viên</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let nv of nhanVien.data; index as i; ">
                <td><span>{{nv.cmnd}}</span></td>
                <td><span>{{nv.ho}}</span></td>
                <td><span>{{nv.ten}}</span></td>
                <td>
                    <button class="btn btn-sm btn-info ">
              <i id="ic1 " class="fa fa-search "></i>Chi Tiết Nhân Viên</button>
                    <button class="btn btn-sm btn-warning ">
              <i id="ic2 " class="fa fa-edit "></i>Sửa</button>
                    <button class="btn btn-sm btn-danger ">
              <i id="ic3 " class="fa fa-remove "></i>Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="javascript:void(0);">Trang Trước</a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="javascript:void(0);"><span class="sr-only">2</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
        <li class="page-item">
            <a class="page-link" href="javascript:void(0);">Trang Sau</a>
        </li>

    </ul>
</div>


<ng-template #content let-modal>
    <div class="modal-header ">
        <h4 class="modal-title " id="modal-basic-title ">Thêm nhân viên mới</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
        <span aria-hidden="true ">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
        <form #f="ngForm " (ngSubmit)="onSubmit(f) " novalidate name="form">
            <div class="form-group ">
                <label for="f_name ">Firstname</label>
                <div class="input-group ">
                    <input id="f_name " class="form-control " [(ngModel)]="nhanVien.f_name " name="f_name ">
                </div>
                <label for="m_name ">Midlename</label>
                <div class="input-group ">
                    <input id="m_name " class="form-control " [(ngModel)]="nhanVien.m_name " name="m_name ">
                </div>
                <label for="l_name ">Lastname</label>
                <div class="input-group ">
                    <input id="l_name " class="form-control " [(ngModel)]="nhanVien.l_name " name="l_name ">
                </div>
                <label for="address ">Adress</label>
                <div class="input-group ">
                    <input id="address " class="form-control " [(ngModel)]="nhanVien.address " name="address ">
                </div>
                <label for="birthDate ">BirthDay</label>
                <div class="input-group ">
                    <input id="birthDate " class="form-control " [(ngModel)]="nhanVien.birthDate " name="birthDate ">
                </div>
                <label for="score ">Score</label>
                <div class="input-group ">
                    <input id="score " class="form-control " [(ngModel)]="nhanVien.score " name="score ">
                </div>
                <div class="border text-center ">
                    <button data-dismiss="modal " class="btn btn-info ">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-dark " (click)="modal.close( 'Save click') ">Save</button>
    </div>
</ng-template>