<!-- clients -->
<div id="testimonial" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Đánh giá từ người nổi tiếng </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clients_red">
    <div class="container">
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
                <li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="2" class=""></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="testomonial_section">

                        <div class="full testimonial_cont">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                                    <div class="testomonial_img">
                                        <figure><img src="assets/images/tes2.PNG" alt="#"/></figure>
                                        <i><img src="assets/images/test_con.png" alt="#"/></i>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                                    <div class="cross_inner">
                                        <h3>Kiệt<br><strong class="ornage_color">Pro Reviewer</strong></h3>
                                        <p> Đồ ăn ngon, đa dạng. Giá không quá đắt. Mọi thứ rất ổn cho đến khi mình hỏi mật khẩu wifi. 
                                            Nhân viên trả lời như ngoài đường ngoài chợ. Không chuyên nghiệp.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item active">

                    <div class="testomonial_section">
                        <div class="full center">
                        </div>
                        <div class="full testimonial_cont ">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                                    <div class="testomonial_img">
                                        <figure><img src="assets/images/tes3.PNG" alt="#"/></figure>
                                        <i><img src="assets/images/test_con.png" alt="#"/></i>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                                    <div class="cross_inner">
                                        <h3>Truyền<br><strong class="ornage_color">Newbie Review</strong></h3>
                                        <p>Mặt bằng quán/nhà hàng rộng đủ để có thể yên tâm việc đảm bào vệ sinh ăn uống/thực phẩm, 
                                            mội trường xung quanh sạch sẽ, thoáng đãng, phục vụ nhanh nhẹn lịch sự, chuyên nghiệp, 
                                            thực đơn có cả ngoại ngữ cho khách nước ngoài dễ lựa chọn. 
                                            Không có rác xung quanh chỗ ăn uống, không có người ăn xin, bán ve1 số làm phiền.
                                          
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">

                    <div id="testomonial" class="testomonial_section">
                        <div class="full center">
                        </div>
                        <div class="full testimonial_cont ">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                                    <div class="testomonial_img">
                                        <figure><img src="assets/images/tes.PNG" alt="#"/></figure>
                                        <i><img src="assets/images/test_con.png" alt="#"/></i>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                                    <div class="cross_inner">
                                        <h3>Tim Côk<br><strong class="ornage_color">Kô Tếch hút máu</strong></h3>
                                        <p> Các món ăn ở đây không ngon cho lắm, các bạn muốn đồ ăn ngon mà rẻ thì hãy ghé tiệm Apple Store của mình nha hihihihi :D
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- end clients -->
